# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
frontend/node_modules/
backend/venv/

# next.js
.next/
frontend/.next/
out/
frontend/out/

# production
build/
dist/

# debug
*.log
.pnpm-debug.log*

# env files
.env*
frontend/.env*
backend/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts